<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MISA.WDT01.HTKien</title>
    <link href="https://misard.mshopkeeper.vn/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/CSS/HTKien/view.css" rel="stylesheet" />
    <link href="/CSS/HTKien/common.css" rel="stylesheet" />
    <link href="/CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/resources/demos/style.css">-->




</head>
<body>
    <div class="div-trai">
        <div class="div-trai-tren">
            <img src="/Contents/icon/logo-mshopkeeper.png" />
        </div>
        <div class="div-trai-giua">
            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon1" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Tổng quan
                    </div>


                </div>
            </a>
            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon2" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Báo cáo
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon3" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Sổ giao hàng
                    </div>

                </div>
            </a>
            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon4" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Mua hàng
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon6" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Quỹ tiền
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon7" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Chi phí
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon8" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Khuyến mại
                    </div>

                </div>

            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon9" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        SMS marketing
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai active" style="display : flex;">
                    <div id="icon10" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Danh mục
                    </div>

                </div>

            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon11" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Hóa đơn điện
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon12" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Thiết lập
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon13" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Trợ giúp
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon14" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        Thuê bao
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon15" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        OCM
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="_1cai" style="display : flex;">
                    <div id="icon16" class="div-trai-duoi-icon">

                    </div>
                    <div class="div-trai-duoi-text">
                        5Shop
                    </div>

                </div>
            </a>

            <!--<div class="_1cai" style="display : flex;">
                <div id="icon17" class="div-trai-duoi-icon">

                </div>
                <div class="div-trai-duoi-text">
                    API
                </div>

            </div>-->








        </div>
        <div class="div-trai-duoi">
            <div class="div-trai-duoi-icon">

            </div>
            <div class="div-trai-duoi-text">
                Hàng hóa
            </div>

        </div>

    </div>
    <div class="div-phai">
        <div class="div-phai-tren">
            <div class="div-phai-tren-1"> Khách hàng</div>
            <div class="div-phai-tren-2">
                <div class="combobox" style="padding: 7px 10px 7px 20px; border: 1px solid #bbbbbb; font-size: 13px; border-radius: 2px; font-weight: 600; margin-top: 10px; display: flex;">
                    <div class="combobox-text" style="margin-left: 33px;">misard</div>
                    <div class="combobox-icon" style="margin-left: 43px; margin-top: 0px;">
                        <img src="/Contents/icon/arrow-down-line.png" />
                    </div>

                </div>


            </div>
            <div class="div-phai-tren-3" style="display: flex; margin-left: 10px;">
                <div class="div-phai-tren-3-icon">
                    <img style="width: 30px; margin-top: 10px ; margin-left: 10px;  " src="../Contents/icon/Image.png" />
                </div>
                <div class="div-phai-tren-3-text" style="font-size: 13px;  font-weight: 600; margin-top: 17px ; margin-left: 7px; ">admin</div>
                <div style="margin-left: 5px; margin-top: 13px;
">

                    <img src="../Contents/icon/arrow-down-line.png" />
                </div>


            </div>
            <a href="#" title="Tổng đài hỗ trợ MISA SUPPORT">
                <div class="div-phai-tren-4">
                    <img src="../Contents/icon/misasupport_1.png" />
                </div>
            </a>

            <a href="#" title="Thông báo">
                <div class="div-phai-tren-5">
                    <img src="../Contents/icon/notify-18.png" />

                </div>
            </a>

            <a href="#" title="Trợ giúp">
                <div class="div-phai-tren-6">
                    <img src="../Contents/icon/icon_help_18.png" />
                </div>
            </a>


        </div>
        <div class="div-phai-duoi">
            <div class="menu-ngang">
                <button class="menu-ngang-1cai add-new" title="Ctrl+1">
                    <div id="iconn1" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Thêm mới</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai duplicate" title="Ctrl+B" disabled>
                    <div id="iconn2" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Nhân bản</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai edit" disabled title="Ctrl+E">
                    <div id="iconn3" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Sửa</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai delete" disabled title="Ctrl+D">
                    <div id="iconn4" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Xóa</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai" title="Ctrl+Y">
                    <div id="iconn5" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Nạp</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai">
                    <div id="iconn6" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Nhập khẩu</div>
                </button>
                <div style="height: 100%; width: 1px ; background-color: #1882ae;"></div>

                <button class="menu-ngang-1cai">
                    <div id="iconn7" class="menu-ngang-1cai-icon">

                    </div>
                    <div class="menu-ngang-1cai-text">Xuất khẩu</div>
                </button>








            </div>
            <div class="div-table">
                <div class="tieu-de" style="display: flex; position: relative;">
                    <div class="cot1">
                        <img src="/Contents/icon/uncheck.png" style="margin-left: 10px; margin-top: 22px;" />
                    </div>
                    <div class="cot2">
                        <div class="cot-phantren"> Mã khách hàng</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>
                            <input type="text" name="name" value="" class="input2"  autocomplete="off" />
                        </div>
                    </div>
                    <div class="cot3">
                        <div class="cot-phantren"> Tên khách hàng</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>

                            <input type="text" name="name" value="" class="input2" id="ten-kh" />
                        </div>
                    </div>
                    <div class="cot4">
                        <div class="cot-phantren">Điện thoại</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>

                            <input type="text" name="name" value="" class="input2" id="dien-thoai" />
                        </div>
                    </div>
                    <div class="cot5">
                        <div class="cot-phantren"> Ngày sinh</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>

                            <input type="text" name="name" value="" class="input2 ngay-sinh" id="datepicker" autocomplete="off"  />
                        </div>
                    </div>
                    <div class="cot6">
                        <div class="cot-phantren"> Nhóm khách hàng</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>

                            <input type="text" name="name" value="" class="input2" id="nhom-kh" />
                        </div>
                    </div>
                    <div class="cot7">
                        <div class="cot-phantren"> Ghi chú</div>
                        <div class="cot-phanduoi">
                            <button class="input1">*</button>

                            <input type="text" name="name" value="" class="input2" id="ghi-chu" />
                        </div>
                    </div>
                    <div class="cot8">
                        <div class="cot-phantren"> Trạng thái</div>
                        <div class="cot-phanduoi">

                            <input type="text" name="name" value="" class="input2" id="trang-thai" />
                        </div>
                    </div>


                </div>
                <div class="du-lieu">
                    <table class="main-table">
                        <thead>
                            <tr>
                                <th class="cot1-data cot-data ngoai-le-th" fieldName=""> </th>
                                <th class="cot2-data cot-data ngoai-le-th" fieldName="Ma"></th>
                                <th class="cot3-data cot-data ngoai-le-th" fieldName="Ten"> </th>
                                <th class="cot4-data cot-data ngoai-le-th" fieldName="DienThoai"> </th>
                                <th class="cot5-data cot-data ngoai-le-th" fieldName="NgaySinh"> </th>
                                <th class="cot6-data cot-data ngoai-le-th" fieldName="Nhom"> </th>
                                <th class="cot7-data cot-data ngoai-le-th" fieldName="GhiChu"> </th>
                                <th class="cot8-data cot-data ngoai-le-th" fieldName="TrangThai"> </th>


                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>


                </div>
                <div id="con-quay">

                </div>







            </div>
            <div class="trang" style="display: flex; ">
                <button id="trang-dau" class="btl-trang menu-trang"></button>
                <button id="trang-truoc" class="btl-trang menu-trang"></button>
                <span class="text-trang">Trang</span>
                <input id="input-trang" class="page-index" type="number" name="name" value="1" min="1"/>

                <span class="text-trang">trên </span>
                <button id="trang-sau" class="btl-trang menu-trang"></button>
                <button id="trang-cuoi" class="btl-trang menu-trang"></button>
                <button id="refresh" class="btl-trang"></button>
                <div class="div-cbb">
                    <select class="cbb-trang page-size">
                        <option >15</option>
                        <option >25</option>
                        <option >50</option>
                        <option >100</option>


                    </select>

                </div>
                <div class="dem-ban-ghi"></div>
                
                
               
                

            </div>

        </div>









    </div>









    <!--<script src="/Scripts/libraries/jquery-3.4.1.js"></script>-->
    <script src="/Scripts/libraries/jquery-1.12.4.js"></script>
    <script src="/Scripts/libraries/jquery-ui.js"></script>
    <script src="/Scripts/view/common.js"></script>
    <script src="/Scripts/view/base.js"></script>
    <script src="/Scripts/view/khachhang.js"></script>

</body>
</html>